# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ide cache
.idea/

# Logging
log.txt

# Dependency directories (remove the comment below to include it)
opc/node_modules
node_modules/
unloader/package-lock.json
unloader/unloader.js
